<a href="https://colab.research.google.com/github/wiaderwek/AMHE/blob/master/notebooks/amhe_plots.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AMHE - wykresy

In [1]:
! git clone https://github.com/wiaderwek/AMHE.git

Cloning into 'AMHE'...
remote: Enumerating objects: 241, done.
remote: Counting objects: 100% (241/241), done.
remote: Compressing objects: 100% (136/136), done.
remote: Total 241 (delta 141), reused 182 (delta 88), pack-reused 0
Receiving objects: 100% (241/241), 1.33 MiB | 18.14 MiB/s, done.
Resolving deltas: 100% (141/141), done.

In [3]:
import numpy as np
import pandas as pd
from datetime import datetime

In [4]:
df_25 = pd.read_csv('/content/AMHE/results/get_25_d_2_results.csv', sep=',',header=None)

In [5]:
df_25

                             0     1     2           3   ...   22    23    24  25
0    2021-06-16 09:01:58.091556   N15    N7   83.512177  ...  500  1000  1000  25
1    2021-06-16 09:03:21.649611   N29    N7   88.150947  ...  500  1000  1000  25
2    2021-06-16 09:04:49.850397   N28    N8   89.968523  ...  500  1000  1000  25
3    2021-06-16 09:06:19.849865   N26   N18   82.011816  ...  500  1000  1000  25
4    2021-06-16 09:07:41.916560   N21    N8   90.125133  ...  500  1000  1000  25
..                          ...   ...   ...         ...  ...  ...   ...   ...  ..
395  2021-06-16 20:38:27.702848   N20   N25  579.104111  ...  500  1000  1000  25
396  2021-06-16 20:48:06.870886   N23   N25  279.051775  ...  500  1000  1000  25
397  2021-06-16 20:52:45.970559    N6    N8  320.314539  ...  500  1000  1000  25
398  2021-06-16 20:58:06.341044   N12    N8   81.761673  ...  500  1000  1000  25
399  2021-06-16 20:59:28.130661    N9   N28  312.737778  ...  500  1000  1000  25

[400 rows x 26 columns]